{% extends 'base.html' %}

  {% block content %}
    <main>
        <img src="../../static/img/about-me.svg" class="mx-auto d-block mb-5"  alt="about-title">
        <div class="container text-xl-left text-lg-left text-md-center text-sm-center big-wrapper">
            <div class="row custom-section d-flex align-items-center py-4">
                <div class="col-12 col-lg-6">
                    <ul>
                        <li class="text-light"><strong>Name</strong>: Andrew Nehemia Hutapea</li>
                        <li class="text-light"><strong>NPM</strong>: 1906400311</li>
                        <li class="text-light"><strong>Hobbies</strong>: Drawing and making music</li>
                        <li class="text-light"><strong>Studying at</strong>: Universitas Indonesia</li>
                        <li class="text-light"><strong>Class of</strong>: 2019</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6">
                    <table class="table text-light text-center">
                        <thead>
                          <tr>
                            <th scope="col">Sekolah</th>
                            <th scope="col">Lama Sekolah</th>
                            <th scope="col">Daerah Sekolah</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>SD Victory Plus</td>
                            <td>6 Tahun</td>
                            <td>Bekasi</td>
                          </tr>
                          <tr>
                            <td>SMPK 5 BPK PENABUR</td>
                            <td>3 Tahun</td>
                            <td>Jakarta Timur</td>
                          </tr>
                          <tr>                            
                            <td>SMAK 7 BPK PENABUR</td>
                            <td>3 Tahun</td>
                            <td>Jakarta Timur</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <h2 class="text-light text-center border-top pt-4"> Skills </h2>
            <div class="row d-flex justify-content-center py-4 border-bottom">
              <img src="../../static/img/html5.svg" class="mx-4 my-2 skill" width=100px alt="html5">
              <img src="../../static/img/css-3.svg" class="mx-4 my-2 skill" width="100px" alt="css">
              <img src="../../static/img/python.svg" class="mx-4 my-2 skill" width="100px" alt="python">
              <img src="../../static/img/java.svg" class="mx-4 my-2 skill" width="100px" alt="java">
              <img src="../../static/img/experience.svg" class="mx-4 my-2 skill" width="100px" alt="xd">
              <img src="../../static/img/illustrator.svg" class="mx-4 my-2 skill" width="100px" alt="ai">
            </div>
            <div class="row d-flex justify-content-around justify-content-lg-between justify-content-xl-between justify-content-md-between justify-content-sm-around my-4">
                <img src="../../static/img/miner.svg" class="perks m-sm-4" alt="mine">
                <img src="../../static/img/teamworker.svg" class="perks m-sm-4" alt="teamwork">
                <img src="../../static/img/learner.svg" class="perks m-sm-4" alt="learn">
            </div>
        </div>
    </main>
    {% endblock %}