{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="container text-xl-left text-lg-left text-md-center text-sm-center big-wrapper">
            <div class="row custom-section d-flex align-items-center mh-100">
                <div class="col-12 col-lg-6">
                    <img src="../../static/img/my-photo.png" class="mx-auto d-block" style="margin:0.5rem" alt="mypic" id="mypic">
                </div>
                <div class="col-12 col-lg-6">
                    <div class="container" style="margin: 0.5rem;">
                        {% if user.is_authenticated %}
                        <h4 class="text-light">Welcome, {{ user.get_username }}. Thanks for logging in.</h4>
                        {% else %}
                        <h4 class="text-light">Welcome, new user. Please log in.</h4>
                        {% endif %}
                        <img src="../../static/img/welcome.svg" class="img-fluid" style="margin-bottom:1rem" alt="welcome">
                        <p class="text-light mb-0">
                            I’m an aspiring web developer from Indonesia. 
                            I’m currently studying at Universitas Indonesia and i have been studying web development for a year. 
                            I’m looking forward to working with you! 
                        </p>
                        <div class="icons">
                            <a href="mailto:andrewnehemia@email.com" target="_blank" class="btn btn-outline-dark btn-lg text-light" id="email">Email Me</a>
                            <a href="https://www.instagram.com/andrw.nehemia/?hl=id">
                                <img src="../../static/img/instagram.svg" class="soc-icons" width="30px" height="30px" style="margin: 0.5rem;" alt="insta">
                            </a>
                            <a href="https://twitter.com/el_sarcofago">
                                <img src="../../static/img/twitter.svg" class="soc-icons" width="30px" height="30px" style="margin: 0.5rem;" alt="twitter">
                            </a>
                            <a href="tel:628111862510">
                                <img src="../../static/img/whatsapp.svg" class="soc-icons" width="30px" height="30" style="margin: 0.5rem;" alt="whatsapp">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}