{% extends 'base.html' %}

{% block content %}
    <main>
        <img src="../../static/img/kegiatan.svg" class="mx-auto d-block mb-5 img-fluid" alt="matkuladd">
        <div class="container text-xl-left text-lg-left text-md-center text-sm-center big-wrapper">
            {% for event in kegiatan_list %}
                <div style="background-color:rgb(48, 48, 48); border-radius:10px; padding:5px; margin:5px">
                <h1 class="kegiatan mx-2 my-2" style="color: #FF8A00; text-decoration: button; text-transform:uppercase">{{ event.activity }}</h1>
                <ul>
                {% for member in attendees %}
                    {% if member.kegiatan == event %}
                        <li>
                            <p class="nama-peserta text-white m-2" style="text-transform: capitalize;">{{ member.attendee }}</p>
                        </li>
                    {% endif %}
                {% endfor %}    
                </ul>
                </div>
            {% endfor %}
        </div>
    </main>
    {% endblock %}