<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/story8.css' %}">
    </head>
    <body>
        <div class="searchbar">
            <h1> Search Books </h1>
            <input id="searchterm">
        </div>
        <div class="show">
            <div id="results_list_show" class="book-list" style="list-style: none;">
            </div>
        </div>
        <script type="text/javascript">
            
            $("#searchterm").keyup( function() {
                var searchterm = $("#searchterm").val();
                var url_search = '/story8/data?q='+ searchterm;
                $.ajax({
                    url : url_search,
                    success: function(product) {
                        console.log(product.items);
                        var results_list_show = $("#results_list_show");
                        results_list_show.empty();

                        for (i = 0; i < product.items.length; i++) {
                            var book_title = product.items[i].volumeInfo.title;
                            var book_thumbnail = product.items[i].volumeInfo.imageLinks.smallThumbnail;
                            var book_publisher = product.items[i].volumeInfo.publisher;
                            var book_rating = product.items[i].volumeInfo.averageRating;
                            var book_author = product.items[i].volumeInfo.authors;
                            var book_link = product.items[i].volumeInfo.canonicalVolumeLink;
                            
                            results_list_show.append(
                                '<div class="book-desc">'
                                    + '<img class="book-thumbnail" src="'+ book_thumbnail +'">'
                                    + '<div class="book-text">'
                                    + '<h1 class="book-title">' + book_title + '</h2>'
                                    + '<h2 class="book-author">' + book_author[0] + '</h1>'
                                    + '<h3 class="book-publisher">'+ book_publisher +'</h3>'
                                    + '<h2 class="book-rating"> Average rating: '+ book_rating + '</h3>'
                                    + '</div>'
                                    + '<a href="'+ book_link +'" target="_blank" class="learn-more"><h3 id=more>Learn More</h3></a>'
                                + '</div>'
                                )

                        }
                    }
                });
            });


        </script>
    </body>
</html>
